SOLANA_API_KEY=KEY_FOR_HELIUS
RPC_HTTPS_URL=HELIUS_RPC_HTTPS_URL
RPC_HTTPS_URL_TESTNET=https://api.mainnet-beta.solana.com
WSOL_TokenAccount=Go3w6h5z1D77AiBaVoSHScj3LGwC86GXnQUo7goXHvpU
TIP_ACCOUNT_PUBKEY=Cw8CFyM9FkoMi7K7Crf6HNQqf4uEMzpKw6QNghXLvLkY
SOLANA_MINT_ADDRESS=So11111111111111111111111111111111111111112

SOLANA_WALLET_ADDRESS=WALLET_ADDRESS
PrivateKey=PRIVATE_KEY

TOKENCA=2kBzHjLgm9rwrbZikLk1dkx1Bt56Spc4cjdYH8Hh89Em
TOKENCA2=8Ki8DpuWNxu9VsS3kQbarsCWMcFGWkzzA8pUPto9zBd5
